<% provide(:title, "Feeds") %>

<div class="row">
    <div class="col-md-6">
        <h1>Feeds</h1>
    </div> 
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Up vote count</th>
      <th>Down vote count</th>
      <th>Feed type</th>
      <th>Feed content</th>
      <th>Interest</th>
      <th>.. </th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.user_id %></td>
        <td><%= feed.up_vote_count %></td>
        <td><%= feed.down_vote_count %></td>
        <td><%= feed.feed_type %></td>
        <td><%= feed.feed_content %></td>
        <td><%= feed.interest %></td>
        <td><%= commontator_thread(feed) %></td>
        <td><%= link_to 'Show', feed %></td>
        <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
        <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Upvote Feed',"#", :onclick=>"upvote(#{feed.id})"%>
        <td><%= link_to 'Downvote Feed',"#", :onclick=>"downvote(#{feed.id})"%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= javascript_tag do %>
// to up vote a feed item
  upvote = function(id){
    var userid = <%=user_signed_in?? current_user.id : 0%>;
    if (userid > 0) {
      $.ajax({
        url: "feeds/"+id+"/upvote",
        type: "GET",
        success: function(){
          console.log( "feed upvoted" );
          location.reload();
        }
      });
    }
    else {
      console.log("upvote feed cannot be done because user is not logged in");
    }
  }

  // to down vote a feed item
  downvote = function(id){
    var userid = <%=user_signed_in?? current_user.id : 0%>;
    if (userid > 0) {
      $.ajax({
        url: "feeds/"+id+"/downvote",
        type: "GET",
        success: function(){
          console.log( "feed downvoted" );
          location.reload();
        }
      });
    }
    else {
      console.log("downvote feed cannot be done because user is not logged in");
    }
  }

<% end %>
