<% provide(:title, "Feed Item") %>

<%= link_to 'Return to Dashboard', feeds_path %>

<div class="row">
  <div class="col-md-6">
    <h1>Feed Item</h1>
  </div> 
</div>
<br>

<% if @feed.feed_type == "view" %>
  <h4><strong> <%= ApplicationHelper.getUserName(@feed.user_id) %> </strong> has Viewed <code> <%= ApplicationHelper.getViewedView(@feed.feed_content) %> </code></h4> <p class='text-right'> <small> This matches your interest in <strong> <%= ApplicationHelper::INTEREST_HASH[@feed.interest] %> </strong></small></p>
<% elsif @feed.feed_type == "request_edit" %>
  <h4><strong> <%= ApplicationHelper.getUserName(@feed.user_id) %> </strong> has requested an edit on the wiki <code>  <%= ApplicationHelper.getWikiLink(@feed.feed_content).html_safe %>  </code></h4> <p class='text-right'> <small> This matches your interest in <strong> <%= ApplicationHelper::INTEREST_HASH[@feed.interest] %>  </strong></small></p>
<% else %>
  <h4><strong> <%= ApplicationHelper.getUserName(@feed.user_id) %>  </strong> has suggested content for the wiki <code> <%= ApplicationHelper.getWikiLink(JSON.parse(@feed.feed_content)["page"]).html_safe %>  </code><br><br><pre> <%= JSON.parse(@feed.feed_content)["content"] %>  </pre></h4> <p class='text-right'> <small> This matches your interest in <strong> <%= ApplicationHelper::INTEREST_HASH[@feed.interest] %> </strong></small></p>
<% end %>

<h4> <strong> Comments: </strong> <%= commontator_thread(@feed) %> </h4>
  
