
<h1> Search your WIKI here </h1>

<div class="field">
	<%= text_field_tag 'search-query'%>
</div>
<div class="field">
	<%=button_tag 'search Wiki', :type=>'button', :id=>"run-Crawler" %>
</div>

<div id="related_pages">
</div>

<br><br><br><br><br>

<iframe id="main_page">
</iframe>

<br><br><br><br><br>

<div class="field">
	<%=button_tag 'Request Edit', :type=>'button', :id=>"request-edit" %>
</div>

<%= javascript_tag do %>

	var SEARCH_CHAIN;

	$(document).ready(function(){
		SEARCH_CHAIN = [];
	});
	
	tracked_viewer = function(name){
		var name_with_space = name.split("+").join(" ");
		SEARCH_CHAIN = SEARCH_CHAIN.concat([name_with_space]);
		$("#search-query").val(name_with_space);
		search_by_name(name);
	};

	post_search_chain = function(){

		$.ajax({
			url: "feeds/",
			type: "POST",
			data: JSON.stringify({feed: {user_id: "<%=user_signed_in?? current_user.id : "0"%>", "up_vote_count":"0", "down_vote_count":"0", "feed_type":"view", "feed_content":SEARCH_CHAIN.toString(), "interest":"0"}}),
			contentType:"application/json; charset=utf-8",
			success: function(){
				console.log( "view feed created" );
			}
		});
	}

	search_by_name = function(search_query){
		$.get(
			"/proxy",
			{data : search_query},
			function(result) {
				$("#related_pages").empty();
				links_items = result.links;
				$("#main_page").attr("src",result.page_url);
				$.each(links_items, function(){
					name = this.substr(30, this.length).split("_").join(" ")
					$("#related_pages").append('<a href=\"#\" onclick=\'tracked_viewer(\"'+name+'\")\'>'+name+'</a><br>')
				});
			}
		);
	};

	$("#request-edit").click(function(){
		page = $("#search-query").val().trim();
		if (page.length<1){
			console.log("No page to make request");
			return;
		}
		$.ajax({
			url: "feeds/",
			type: "POST",
			data: JSON.stringify({feed: {user_id: "<%=user_signed_in?? current_user.id : "0"%>", "up_vote_count":"0", "down_vote_count":"0", "feed_type":"request_edit", "feed_content":page, "interest":"0"}}),
			contentType:"application/json; charset=utf-8",
			success: function(){
				console.log( "request feed created" );
			}
		});
	});

	$("#run-Crawler").click(function(){
		var search_query = $("#search-query").val();
		if (search_query.length<1){
			console.log("No title to search");
			return;
		}
		if (SEARCH_CHAIN.length > 0){
			post_search_chain();
			SEARCH_CHAIN = [];
		}
		SEARCH_CHAIN = SEARCH_CHAIN.concat([search_query]);
		search_by_name(search_query.split(' ').join('+'));
	});

<% end %>