<% provide(:title, "Search Wiki") %>
<div class="row">
    <div class="col-md-2">
        <div class="field">
            <b>SELECT INTEREST</b>
            <%= select_tag :interest, options_for_select(StaticHelper.hash_interest(current_user)) %>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div style="display: table-row">
                <div class="field" style = "display: table-cell">
                    <b>ENTER SEARCH TOPIC</b>
                    <%= text_field_tag 'search-query', '', size: 97 %>
                </div>
                <div class="field" style = "display: table-cell">
                    <%=button_tag 'Search Wiki', :type=>'button', :id=>"run-Crawler", class: "btn btn-primary" %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2" style="background-color: rgb(240,248,255)">
        <div>
            <p><b><u>RECOMMENDED</b></u></p>
        </div>
        <div id="related_pages">
        </div>
    </div>
        
    <div class="col-md-10">
        <div class="row">    
            <iframe id="main_page" width="100%" height="400">
            </iframe>
        </div>
        <div class="row">
            <div class="field">
                <%=text_area_tag "edit-content", nil, size: "136x3"%>
            </div>                
            <div style="display: table-row">
                <div class="field" style="display: table-cell">
                    <%=button_tag 'Request Edit', :type=>'button', :id=>"request-edit", class: "btn btn-primary" %>
                </div>
                <div style="display: table-cell">
                </div>
                <div class="field" style="display: table-cell">
                    <%=button_tag 'Submit Edit', :type=>'button', :id=>"submit-edit", class: "btn btn-primary" %>
                </div>
            </div>
        </div>
    </div>
</div>

<%= javascript_tag do %>

	var SEARCH_CHAIN;
	var SEARCH_INEREST;

	// ****************** INIT the SEARCH_CHAIN TO HAVE NOTHING AT PAGE LOAD **********************
	$(document).ready(function(){
		SEARCH_CHAIN = [];
		SEARCH_INEREST = 0;
	});
	
	// ****************** FUNCTION THAT GETS INVOKED WHEN A PAGE FROM THE SEARCH RESULTS IS CLICKED **********************
	tracked_viewer = function(name){
		var name_with_space = name.split("+").join(" ");
		SEARCH_CHAIN = SEARCH_CHAIN.concat([name_with_space]);
		SEARCH_INEREST = $("#interest").val();
		$("#search-query").val(name_with_space);
		search_by_name(name);
	};

	// ****************** CREATE A VIEW FEED ENTRY INVOKED BY OTHER METHODS **********************
	post_search_chain = function(){

		var userid = <%=user_signed_in?? current_user.id : 0%>;

		if (userid > 0) {
			$.ajax({
				url: "feeds/",
				type: "POST",
				data: JSON.stringify({feed: {"user_id": userid, "up_vote_count":"0", "down_vote_count":"0", "feed_type":"view", 
											"feed_content":SEARCH_CHAIN.toString(), "interest": SEARCH_INEREST.toString()}}),
				contentType:"application/json; charset=utf-8",
				success: function(){
					show_notification( "view feed created" );
				}
			});
		}
		else {
			show_notification("Cannot create user view feed because user not logged in.")
		}
	}

	// ****************** THE LOGIC THAT SEND THE QUERY AND GETS THE LIST OF URLS BACK  **********************
	search_by_name = function(search_query){
		$.get(
			"/proxy",
			{data : search_query},
			function(result) {
				$("#related_pages").empty();
				links_items = result.links;
				$("#main_page").attr("src",result.page_url);
				$.each(links_items, function(){
					name = this.substr(30, this.length).split("_").join(" ")
					$("#related_pages").append('<a href=\"#\" onclick=\'tracked_viewer(\"'+name+'\")\'>'+name+'</a><br>')
				});
			}
		);
	};

	show_notification = function(message){
		$("#notice").text(message);
		$("#notice").show().delay(5000).fadeOut();
	}

	$("#submit-edit").click(function(){
		var page = $("#search-query").val().trim();
		var userid = <%=user_signed_in?? current_user.id : 0%>;
		var userint = $("#interest").val();
		var content = $("#edit-content").val().trim();

		if (page.length<1){
			console.log("No page to make request");
			return;
		}

		if (userid > 0) {
			$.ajax({
				url: "feeds/",
				type: "POST",
				data: JSON.stringify({feed: {"user_id": userid, "up_vote_count":"0", "down_vote_count":"0", "feed_type":"submit_edit", 
											"feed_content":JSON.stringify({"page":page, "content":content}), "interest": userint}}),
				contentType:"application/json; charset=utf-8",
				success: function(){
					show_notification( "submit edit feed created" );
				}
			});
		}
		else {
			show_notification("submit edit feed cannot be created because user is not logged in");
		}

	});

	// ****************** METHOD INVOKED WHEN REQUEST A PAGE EDIT BUTTON IS CLICKED **********************
	$("#request-edit").click(function(){
		var page = $("#search-query").val().trim();
		var userid = <%=user_signed_in?? current_user.id : 0%>;
		var userint = $("#interest").val();

		if (page.length<1){
			console.log("No page to make request");
			return;
		}
		if (userid > 0) {
			$.ajax({
				url: "feeds/",
				type: "POST",
				data: JSON.stringify({feed: {"user_id": userid, "up_vote_count":"0", "down_vote_count":"0", "feed_type":"request_edit", 
											"feed_content": page, "interest": userint}}),
				contentType:"application/json; charset=utf-8",
				success: function(){
					show_notification( "request feed created" );
				}
			});
		}
		else {
			show_notification("request feed cannot be created because user is not logged in");
		}
	});

	// ****************** START OF THE SEARCH HAPPENS HERE, INVOKED ON THE CLICK OF THE SEARCH WIKI BUTTON **********************
	$("#run-Crawler").click(function(){
		var search_query = $("#search-query").val();
		if (search_query.length<1){
			console.log("No title to search");
			return;
		}
		if (SEARCH_CHAIN.length > 0){
			post_search_chain();
			SEARCH_CHAIN = [];
			SEARCH_INEREST = $("#interest").val();
		}
		SEARCH_CHAIN = SEARCH_CHAIN.concat([search_query]);
		search_by_name(search_query.split(' ').join('+'));
	});

<% end %>
